﻿body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

input, select {
    border: 2px solid #CCC !important;
    height: 35px;
    border-radius: 3px;
    max-width: 100%;
    line-height: normal !important;
}

label {
    font-weight: bolder;
    margin-top: 15px;
}

.form-group {
    margin-bottom: 0;
    text-align: left;
}

#about-link {
    float: right;
    font-size: 80%;
    position: relative;
    color: white;
    top: -10px;
}

#info-footer{
    padding: 0px;
}

.panel-heading {
    background-image: none;
    background-color: #CCC;
    color: white;
}

#input.validDate.form-control{
    line-height : 0px;
}

/*div#login-alert {
    display: normal;
    margin-left: 5px;
    margin-right: 10px;
}

div#about-link {
    float: right;
    font-size: 80%;
    position: relative;
    top: -10px
}

div#row-fromtodate {
    margin-left: 5px;
    margin-right: 5px;
}

.col-sm-4 {
    margin-right: 5px;
}

.col-sm-3 {
    margin-right: 5px;
}

.col-sm-5 {
    margin-right: 25px;
}
div#row-result {
    margin-left: 5px;
}

div#col-result {
    margin-right: 25px;
}*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
