﻿

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script language="JavaScript" type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: true)
</body>
</html>
