﻿@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <p>Use this area to provide additional information.</p>*@

<br />
<div id="wrapper" style="text-align: left;" class="panel panel-info">
    <div class="panel-body">
        <h4 class="text-danger">Q-C (Quick Currency) converter</h4>
        <h4><b>Training project</b></h4>
        <hr />
        <h5>Objectives:</h5>
        <ul>
            <li>ASP.NET Core 2.2</li>
            <li>EF Core 2.2</li>
            <li>Get and parse JSON from external source every 3h</li>
            <li>Save data into local MySQL db</li>
            <li>Responsive front-end (PC, mobile) with jQuery & Bootstrap</li>
            <li>Host web app on Ubuntu 18.04.2 using Nginx with https enabled</li>
        </ul>

        
        Data is provided "as is" without warranty of any kind.
        App uses external API that returns result in json format. <a href="https://www.currencyconverterapi.com/docs">Documentation</a>.
        <br />
        Conversion Pairs per Request for free account is limited to 10. Avaliable pairs in this version are RUB to/from EUR/USD/THB/TRY/LKR.
        <br />
        <br />
        <a href="mailto:sergey.whoami@yandex.ru">Author</a>
        <a href="/Home">Home</a>
    </div>
</div>

@section Scripts{

}
