﻿@model ExchRates.Models.ConverterViewModel
@{
    <br />
    <div id="wrapper" class="panel panel-info">
        <form asp-controller="Home" asp-action="Index" method="post" role="form" id="form-work" class="" name="form-work">
            <div class="panel-heading">
                <h4>Quick Currency Converter</h4>
                <div id="about-link"><a href="/Home/About">About</a></div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div id="test" class="col-md-4">
                        <label class="control-label" for="validDate">Date</label>
                        <input class="form-control" name="validDate" id="validDate" type="date" value="@Model.ValidDate.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label" for="FromCurrencyCode">From</label>
                        <select asp-for="FromCurrencyCode" asp-items="@(new SelectList(Model.CurrencyPairs.GroupBy(x => x.FromCurrencyCode).Select(x => x.First()), "FromCurrencyCode", "FromCurrencyCode", "RUB"))" name="FromCurrencyCode" id="FromCurrencyCode" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label" for="ToCurrencyCode">To</label>
                        <select asp-for="ToCurrencyCode" asp-items="@(new SelectList(string.Empty,"ToCurrencyCode","ToCurrencyCode"))" name="ToCurrencyCode" id="ToCurrencyCode" class="form-control"></select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label" for="intMoney">Input</label>
                        <div class="input-group">
                            <input class="form-control" name="intMoney" id="intMoney" type="number" maxlength="10" min="1" step="any" value="" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                            <span class="input-group-btn">
                                <button id="clear" class="btn btn-danger" type="button">C</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label class="control-label" for="result">Result</label>
                        <input class="form-control" name="result" id="result" type="number" value="" readonly />
                    </div>
                </div>

            </div>
            <div id="info-footer" class="panel-footer">
                    <div class="col-md-12">
                        <div id="info"></div>
                    </div>
            </div>
        </form>
        <br />

    </div>


}

@section Scripts{
    @*save from/to into cookie*@
    <script type="text/javascript">
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        };
    </script>

    @*get cookie*@
    <script type="text/javascript">
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                };
            };
            return "";
        };
    </script>

    @*get rate string*@
    <script type="text/javascript">
        function getRates () {
            var url = '@Url.Content("~/")' + "Home/GetStrRate";
            var from = "#FromCurrencyCode";
            var to = "#ToCurrencyCode";
            var date = "#validDate";
            $.ajax({
                url: url, data: {
                    FromCurrencyCode: $(from).val()
                    , ToCurrencyCode: $(to).val()
                    , validDate: $(date).val()
                }
            }).done(function (data) {
                $("#info").text(data);
            });
        };
    </script>

    @*list of currencies*@
    <script type="text/javascript">
        $("#FromCurrencyCode").change(function getCurTo () {
            var url = '@Url.Content("~/")' + "Home/GetCurrenciesTo";
            var from = "#FromCurrencyCode";
            $.getJSON(url, { FromCurrencyCode: $(from).val() }, function (data) {
                var items = '';
                $("#ToCurrencyCode").empty();
                $.each(data, function (i, fromcurrency) {
                    items += "<option value='" + fromcurrency.value + "'>" + fromcurrency.text + "</option>";
                });
                $("#ToCurrencyCode").html(items);
            });
        });
    </script>

    @*calculate*@
    <script type="text/javascript">
        $('#intMoney').keyup(function () {
            var url = '@Url.Content("~/")' + "Home/GetConvertedValue";
            var from = "#FromCurrencyCode";
            var to = "#ToCurrencyCode";
            var date = "#validDate";
            var money = "#intMoney";
            $.ajax({
                url: url, data: {
                    FromCurrencyCode: $(from).val()
                    , ToCurrencyCode: $(to).val()
                    , validDate: $(date).val()
                    , inputValue: $(money).val().replace(/\s/g, '')
                }
            }).done(function (data) {
                $("#result").val(data);
            });
            getRates();
            setCookie("from", $("#FromCurrencyCode").val(), 365);
            setCookie("to", $("#ToCurrencyCode").val(), 365);
        });
    </script>

    @*focus on input on start*@
    <script type="text/javascript">
        $("#FromCurrencyCode").change();
        $("#intMoney").focus();
    </script>

    @*clear button*@
    <script type="text/javascript">
        $("#clear").click(function () {
            $("#intMoney").val('');
            $("#result").val('');
            $("#info").text('');
            $("#intMoney").focus();
        });
    </script>

    @*datepicker onchange event , update results*@
    <script type="text/javascript">
        $('#validDate').change(function () {
            $("#intMoney").keyup();
            $("#info").text('');
        });
    </script>

    @*onchange FromCurrencyCode*@
    <script type="text/javascript">
        $("#FromCurrencyCode").change(function () {
            $("#intMoney").val('');
            $("#result").val('');
            $("#info").text('');
        });
    </script>

    @*onchange ToCurrencyCode*@
    <script type="text/javascript">
        $("#ToCurrencyCode").change(function () {
            $("#intMoney").val('');
            $("#result").val('');
            $("#info").text('');
        });
    </script>

}
